body {
  font-family: "Roboto", sans-serif;
}
#spDisplay {
  display: grid;
  place-items: center;
}

#mpDisplay {
  display: grid;
  place-items: center;
}

#optionDisplay {
  display: grid;
  place-items: center;
}

#creditsDisplay {
  display: grid;
  place-items: center;
}

#gameDisplay {
  border: 1px solid;
  text-align: center;
  width: 800px;
}

#mpGameDisplay {
  border: 1px solid;
  text-align: center;
  width: 800px;
}

#mpScoreBar {
  display: flex;
  justify-content: space-around;
}

#mpResult {
  display: flex;
  justify-content: space-around;
}

#mpResult img {
  border: solid black;
}

#scoreBar {
  display: flex;
  justify-content: space-around;
}

#result {
  display: flex;
  justify-content: space-around;
}

#result img {
  border: solid black;
}

button,
input,
label {
  font-family: inherit; /* Inherits the font from the body */
}
img {
  border-radius: 50%;
  width: 100%;
  max-width: 230px;
}

#spMenu {
  display: grid;
  place-items: center;
}

#spMenu select {
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 25px;
}

#spMenu label {
  font-size: 24px;
}

#mainMenu {
  display: grid;
  place-items: center;
}
button {
  width: 240px;
  height: 150px;
  margin: 5px;
  font-size: 24px;
}

input {
  width: 240px;
  height: 150px;
}
input[type="text"] {
  font-size: 65px;
}

.modal {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); /* Blurred background */
}

.modal-content {
  display: grid;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modalMp {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); /* Blurred background */
}

.modal-contentMp {
  display: grid;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

body.modal-active {
  overflow: hidden; /* Prevent scrolling */
}

#mpMenu {
  display: grid;
  place-items: center;
}

#mpSettings {
  display: grid;
  place-items: center;
}

#mpSettings select {
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 25px;
}

#mpSettings label {
  font-size: 24px;
}

#statsDiv {
  display: flex;
  position: fixed;
  bottom: 0;
}

#vText {
  position: fixed;
  right: 25px;
}

#waitingDisplay {
  display: grid;
  place-items: center;
}

#rematchDisplay {
  position: absolute;
  background-color: white;
  top: 10%;
  left: 40%;
  margin-top: -10px;
  margin-left: -50px;
  text-align: center;
  backdrop-filter: blur(6px);
  border: solid rgb(255, 0, 0);
  z-index: 1000;
}

#lobbyCodeInput::placeholder {
  font-size: 45px;
}
